vendor/
composer.json
composer.lock
apigen.neon
config.json
config-sample.json
js/*.min.js
css/*.min.css
themes/**/*.min.css
node_modules
Gruntfile.js
package.json
tests/wp-tests-config.php
.svn/
tests/phpunit/build/
.DS_Store
