.gravityflowchecklists-checklist-container {
    text-align: center;
    width: 120px;
}

.gravityflowchecklists-checklist-wrapper li {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.gravityflowchecklists-checklist-wrapper ul {
    text-align: left;
    margin-left: 0;
}

.rtl .gravityflowchecklists-checklist-wrapper ul {
    text-align: right;
    margin-right: 0;
}

.gravityflowchecklists-checklist-wrapper a {
    text-decoration: none;
}

.gravityflowchecklists-disabled{
    color: darkgrey;
}

.gravityflowchecklists-processing,
.gravityflowchecklists-date {
    color: darkgrey;
    font-size: 14px;
}

.gravityflowchecklists-checklist-detail-wrapper li {
    font-size: 20px;
    padding: 5px;
}

.gravityflowchecklists-checklist-detail-wrapper ul li {
    list-style-type: none;
}

.gravityflowchecklists-icon-complete,
.gravityflowchecklists-icon-incomplete {
    color: darkgreen;
}

.gravityflowchecklists-checklist-detail-wrapper ul li a {
    text-decoration: none;
    cursor: pointer;
}

img.handle{
    cursor: hand;
}
